body{

background:#f5f7fb;

font-family:Arial, Helvetica, sans-serif;

}

.container{

max-width:1000px;

}

.scanner-card{

background:white;

margin-top:120px;

padding:50px;

border-radius:15px;

box-shadow:0 8px 25px rgba(0,0,0,.1);

text-align:center;

}

.scanner-card h1{

font-weight:bold;

margin-bottom:20px;

}

.subtitle{

color:#666;

margin-bottom:30px;

}

.summary-card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

text-align:center;

}

.good{

color:#198754;

font-size:50px;

font-weight:bold;

}

.bad{

color:#dc3545;

font-size:50px;

font-weight:bold;

}

.table{

background:white;

}

.recommendation-box{

margin-top:30px;

background:#fff3cd;

padding:20px;

border-radius:10px;

border:1px solid #ffe69c;

}